@using MyNUnitWeb.Models
@model IndexViewModel
@{
    ViewData["Title"] = "Run tests";
}

<div>
    <h2>Choose assembly files to upload</h2>
    <form asp-controller="Home" asp-action="UploadAssemblies" method="post" enctype="multipart/form-data">
        <input type="file" name="files" accept=".dll" multiple /><br />
        <input class="btn btn-outline-dark" type="submit" value="Upload" /><br />
    </form>
    <form asp-controller="Home" asp-action="Clear" method="post">
        <input class="btn btn-outline-primary" type="submit" value="Clear" />
    </form>
</div>

<ul class="list-group m-3">
    @foreach (var assembly in Model.LoadedAssemblies)
    {
        <li class="list-group-item">@assembly</li>
    }
</ul>

<div class="text-center m-3">
    <form asp-controller="Home" asp-action="RunTests" method="post">
        <input class="btn btn-lg btn-primary" type="submit" value="Run tests" />
    </form>
</div>

<div>
    @foreach (var report in Model.AssemblyReports)
    {
        <h4>@report.Name</h4>
        <p>Passed: @report.NumberOfPassed</p>
        <p>Failed: @report.NumberOfFailed</p>
        <p>Ignored: @report.NumberOfIgnored</p>

        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <th scope="col">Status</th>
                    <th scope="col">Class name</th>
                    <th scope="col">Test name</th>
                    <th scope="col">Message</th>
                    <th scope="col">Time</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var test in report.TestReports)
                {
                    var color = "";
                    var status = test.Status;
                    color = status == TestStatus.Ignored ? "bg-warning" : status == TestStatus.Passed ? "bg-success" : "bg-danger";
                    <tr class="@color">
                        <td>@status</td>
                        <td>@test.ClassName</td>
                        <td>@test.Name</td>
                        <td>@test.Message</td>
                        <td>@(test.Time != null ? @test.Time : "")</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
